body {
    background-image: url(../images/back.jpg)
}

.title {
    background-color: teal;
    font-family: 'Pompiere', cursive;
    box-sizing: content-box
}

h1 {
    border: 3px solid orange;
}

/*.crystal {
   height: 100px;
   width: 200px; 
}